/* 
    Document   : canvas
    Created on : 06-Mar-2013, 15:35:24
    Author     : steven
    Description:
        Purpose of the stylesheet follows.
*/

rect.table {
    fill: rgb(0, 0, 200);
    stroke-width: 1;
    stroke: rgb(0, 0, 0);
}

